
@{
    ViewBag.Title = "婚庆用品";
}

<div class="page-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="header-page">
                    <h1>您需要的我们都有</h1>
                    <ul>
                        <li> <a href="/Mo/Index">首页</a> </li>
                        <li>婚庆物品</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Page Header Section End Here -->
<!-- Our Service Area Start Here -->
<div class="our-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/1.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">手捧花</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/2.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">蛋糕</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/3.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">汽车</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12 padding-top">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/4.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">婚纱</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12 padding-top">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/5.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">婚礼场地</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12 padding-top">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/6.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">戒指</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12 padding-top">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/7.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">新娘美护</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12 padding-top">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/8.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">配餐</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-md-4 col-sm-6 col-xs-12 padding-top">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="Wupin">
                                <img class="media-object" src="/Content/img/services/9.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="Wupin">娱乐</a></h4>
                            <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Service Area End Here -->
<!-- Home Page Store Start Here -->
<div class="home-page-store-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-md-12 col-sm-12 col-xs-12">
                <div class="template-section-area" style="text-align: left;">
                    <h2>婚庆花艺</h2>
                    <p>婚礼花艺是婚礼上的装饰用花。要求具备4个特点，即花大、色艳、新鲜、寓意好。随着中国民众消费水平和审美的提高，大众对于婚宴中花艺的需求日趋旺盛，在一二线城市中，一场婚礼中花材的费用会占到总费用的三分之一，其中多项费用需要仔细考量</p>
                </div>
            </div>
        </div>
        <div class="home-page-total-store">
            <div class="row">
                <div class="col-lg-8 col-md-md-8 col-sm-8 col-xs-12">
                    <div class="home-shop-area">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">花朵</a>
                            </li>
                            <li>
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">婚纱</a>
                            </li>
                        </ul>
                      
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="groom-area">
                                    @foreach (var item in ViewBag.ite as List<WeddingProject.Models.Items>)
                                    {
                                        <div class="single-groom">
                                            <a href="/Home/Gomai/@item.id"><img src="/Content/img/flower/@item.img" alt=""></a>
                                            <div class="details">
                                                <a href="/Home/Gomai/@item.id">详情</a>
                                            </div>
                                        </div>
                                    }
                                    </div>
                            </div>
                          
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="bride-area">
                                    @foreach (var item in ViewData["hunsha"] as List<WeddingProject.Models.Items>)
                                    {

                                        <div class="single-bride">
                                            <a href="/Home/Gomai/@item.id"><img src="/Content/img/Hunsha/@item.img" alt=""></a>
                                            <div class="details">
                                                <a href="/Home/Gomai/@item.id">详情</a>
                                            </div>
                                        </div>


                                    }
                                </div>
                                </div>
                          
                            </div>
                      
                    </div>
                </div>
                <div class="col-lg-4 col-md-md-4 col-sm-4 col-xs-12">
                    <div class="shop-advertise-area">
                        <a href="/Home/Wupin"><img src="/Content/img/flower/flowerall.jpg" style="height: 380px;" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>