
@{
    Layout = null;
    ViewBag.Title = "登录";
}

<link href="~/Content/antd.min.css" rel="stylesheet" />
<script src="~/Content/js/vue.js"></script>
<script src="~/Content/js/antd.min.js"></script>
<script src="~/Content/js/axios.min.js"></script>
<script src="~/Scripts/Ja.js"></script>

<link href="~/Content/Longin/style.css" rel="stylesheet" />
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">

            <form action="/Home/Login/" method="post" class="sign-in-form form">
                <h2 class="title">登录</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="用户名/手机号" name="Uid" required />

                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="密码" name="pwd" required />
                </div>
                <span style="color:red"> @ViewBag.tai</span>
                <input type="submit" value="立即登录" class="btn solid" />
                <p class="social-text">通过其他方式</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-qq"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-weixin"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-weibo"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-alipay"></i>
                    </a>
                </div>

            </form>

            <div id="app" class="form sign-up-form" style="display:block">
                <form class="form" @@submit.prevent="submit">
                    <h2 class="title">注册</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input v-model="user.Nubler" type="tel" name="Nubler" max="11" id="uid" placeholder="手机号" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input v-model="user.Name" type="text" name="Name" id="uid" pattern="[\u4e00-\u9fa5a-zA-Z0-9]+" title="只能输入中文或者英文名称" placeholder="名称" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input v-model="user.pwd" type="password" name="pwd" id="pwd" placeholder="密码" pattern="[\u4e00-\u9fa5a-zA-Z0-9]+[\u4e00-\u9fa5a-zA-Z0-9!#$%^&*()]*" title="只能输入中文或者英文" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="pwd2" placeholder="确认密码" required />
                    </div>
                    <span id="zhuce" style="color:red">{{message}}</span>
                    <input type="submit" class="btn" value="立即注册" />


                    <p class="social-text">通过其他方式</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-qq"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-weixin"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-weibo"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-alipay"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>加入我们</h3>
                <p>
                    加入我们，成为本站的一份子。
                </p>
                <button class="btn transparent" id="sign-up-btn">
                    去注册
                </button>
            </div>
            <img src="~/Content/Longin/img/log.svg" class="image" />

        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>已有帐号？</h3>
                <p>
                    立即登录已有帐号，享受独家权益。
                </p>
                <button class="btn transparent" id="sign-in-btn">
                    去登录
                </button>
            </div>
            <img src="~/Content/Longin/img/register.svg" class="image" />

        </div>
    </div>
</div>
<script>
    const pwdInput = document.getElementById('pwd');
    const pwd2Input = document.getElementById('pwd2');

    pwd2Input.addEventListener('input', function () {
        if (pwd2Input.value !== pwdInput.value) {
            pwd2Input.setCustomValidity('两次输入的密码不一致');
        } else {
            pwd2Input.setCustomValidity('');
        }
    });
</script>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                user: {
                    Nubler: '',
                    Name: '',
                    pwd: '',
                },
                message: ''
            };
        },
        methods: {
            submit() {
                axios.post('/Home/LogUp', this.user)
                    .then((response) => {
                        if (response.data.success) {
                            this.message = response.data.message;
                            
                            this.$message.info(this.message)
                          this.user.Nubler='';
                          this.user.Name= '';
                          this.user.pwd='';
                        } else {
                            this.message = response.data.message;
                            this.$message.error(this.message)
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        this.message = '注册失败，请稍后再试';
                    });
            },
        },
    });
</script>

<script src="~/Content/Longin/app.js"></script>