
@{
    ViewBag.Title = "主页";
}
<script src="~/Content/js/vue.js"></script>
<script src="~/Content/js/axios.min.js"></script>
<div class="slider-area">

    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            @*<img v-for="it in im" :src="lv+it.img" title="#slider-direction-3" alt="" />*@
            @foreach (var item in Model as List<WeddingProject.Models.Images>)
            {
                <img src="/Content/img/Lunbo1/@item.img" title="#slider-direction-3" alt="" />
            }
        </div>
        <!-- direction 1 -->

    </div>
</div>
<!-- slider end-->
<!-- Home Page Our Service Section Area Start Here -->
<div id="section-spacing" class="home-our-service-area section-spacing" v-cloak>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-md-12 col-sm-12 col-xs-12">
                <div class="template-section-area">
                    <h2>婚礼酒店 <a href="/Home/Hote">查看更多</a></h2>
                    <!--<p style="font-size: 18px;"> 婚礼上，当看到自己的新娘走出来的那一刻，这个新郎再也忍不住眼泪。他看向她的那画面太动人，他一定深深爱着她，在他心里，她就是世间最动人的美好吧！</p>-->
                    <ul>
                        <li v-for="(item,index) in list1" @@click="changeMsg(index)" :class="{boderColor:index==nowIndex}">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row a-anlimsg">
            <div class="col-lg-4 col-md-md-4 col-sm-4 col-xs-12 item-img" v-for="(item,index) in arr1" @@click="toMsg(index)">
                <a :href="hr+item.id"><!-- 链接-->
                    <div class="total-single-service-area">
                        <!--<div class="single-services-area">动画</div>-->
                        <div class="a-anliimg" style=" min-height:196px">
                            <!-- 图片-->
                            <img :src="aa+item.img" style=" height:100%" />
                        </div>
                        <div style="margin-bottom: 15px; margin-left:20px" class="a-price">￥{{item.Price}}/每桌</div>
                        <div class="a-hotel">
                            <span style=" margin-left:20px;font-size:20px;">{{item.name}}</span>
                            <span class="a-hotel-line">|</span>
                            <span class="a-hotel-detail">可容纳：{{item.rongliang}}人</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Home Page Our Service Section Area End Here -->
<!-- Home Page About Section Area Start Here -->
<div class="home-portfolio-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-md-12 col-sm-12 col-xs-12">
                <div class="template-section-area">
                    <h2>摄影作品</h2>
                    <p>
                        摄影作品，是通过摄影师或业余爱好者通过灵感，摄影技术等对自然、人物等客观事物进行描绘、供人欣赏的艺术作品。 摄影作品包括婚纱照作品、艺术照作品、儿童照作品、广告作品、孕妇照作品、全家福作品等。
                    </p>
                </div>
            </div>
        </div>
        <div class="row main-portfolio-section">
            <div class="col-lg-12 col-md-md-12 col-sm-12 col-xs-12">
                <div id="dg-container" class="dg-container">
                    <div id="dg-wrapper" class="dg-wrapper">
                        <!--轮播图片的Vue循环 -->
                        @foreach (var item in ViewBag.da as List<WeddingProject.Models.Images>)
                        {
                            <a href="#" >
                                <img src="/Content/img/Lunbo1/@item.img" alt="加载中..." />
                            </a>
                        }
                        @*<a href="#" v-for="it in im">
            <img :src="lv+it.img" alt="加载中..." />
        </a>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Page Portfolio Area End Here -->
<!-- Home Page Team Start Here -->
<div class="home-page-team-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-md-12 col-sm-12 col-xs-12">
                <div class="template-section-area">
                    <h2>店铺活动</h2>
                    <p>主动挑错--打动老年顾客的心例:将有瑕疵的货品,主动写明瑕癌来出售,让顾客主动挑错,得到客户信任。方案20 "欢乐金婚"-即做广告又做见证人方案21 "寿星"效应--让寿星为店铺做广告第二节性别促销方案22英雄救美!--打好男性这张牌例:美国一家烟草店铺,橱窗中一位美女被香烟压着并向往来的男性求救,只要男士卖掉香烟美女就可以从困境中出来。</p>
                </div>
            </div>
        </div>
        <div id="total-team" class="row total-team">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearmargin">
                <!--arr2-->
                <div class="total-team-area">
                    <div class="single-team-area">
                        <a href="/Home/Index"><img src="/Content/img/news2.jpg" alt=""></a>
                        <div class="details">
                            <a href="/Home/Index">更多活动</a>
                        </div>
                    </div>
                </div>
                <div class="bottomtitle">
                    <span class="vertical-line"></span>
                    <span class="scene-name">2018莫奈花园系列主题</span>
                    <img src="/Content/img/slash.png" />
                    <span class="scene-tag">百年之后，致敬莫奈，重现古威尼斯世外梦境</span>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Home Page Team End Here -->
<!-- Home Page Blog Start Here -->
<div class="home-page-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-md-12 col-sm-12 col-xs-12">
                <div class="template-section-area">
                    <h2>不一样的婚礼</h2>
                    <p> 来自世界各地不一样的婚礼........</p>
                </div>
            </div>
        </div>
        <!-- 影视图片 -->
        <div id="total-blog" class="total-blog-content-area" v-cloak>
            <div class="row">

                <div class="col-lg-4 col-md-md-4 col-sm-4 col-xs-12" v-for="item in arr3">
                    <div class="single-blog">
                        <a href="/Home/Sheying"><img :src="item.img" alt=""></a>
                        <div class="details">
                            <a href="/Home/Sheying"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="date">
                            <ul>
                                <li>{{item.month}} <span> {{item.year}}</span></li>
                            </ul>
                        </div>
                        <h3><a href="/Home/Sheying">{{item.title}}</a></h3>
                        <p><span>{{item.looknum}}</span> 人已查看 </p>
                        <div class="blog-content">
                            <p>{{item.content}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="home-page-about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about-us-content">
                    <h2>公司 <span>简介</span></h2>
                    <p><span>公司简介：以爱为名，打造极致服务，留下永生感动。       我们是一支热情、细心、团结有活力的团队。为保障每场婚礼的质量我们坚持在每一个好日子最多只为两对新人服务。我们坚信只有用心把客户服务好、为客户创造价值才能体现我们的价值、才能得到客户的认可，您的满意是我们共同的追求。       亲爱的文化传媒以打造专属个性化创意求婚为目标，致力于为每一对求婚客户打造符合他们爱情故事的专属求婚，从每一个爱情故事中提取创意元素，让求婚更加浪漫、惊喜、感动。</span></p>
                    <p>公司经营范围：婚庆礼仪策划、文化活动策划；摄影摄像；婚庆用品租赁、销售；演出用品租赁；礼仪策划；企业管理咨询；经营电子商务；国内贸易，货物及技术进出口；从事广告业务。为知名艺人、创意专家做推广、代理；演出经纪；；</p>
                    <!--<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining esseSimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about-us-feature-image">
                    <img src="/Content/img/about-feature.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jquery latest version -->
<!--<script src="js/vendor/jquery-1.12.0.min.js"></script>-->

<script>
    //new Vue({
    //    el: '#ensign-nivoslider',
    //    data: {
    //        im: {
    //            id:"",
    //           img:""
    //        },
    //        lv:"/Content/img/Lunbo1/"
    //    }, created() {
    //        this.ca(); // 在组件挂载到页面中后自动调用 ca() 方法
        
    //    },
    //    methods: {
    //        ca() {
    //            axios.post('/Mo/Img/')
    //                .then(res => {
    //                    this.im = res.data.data;

    //                })
    //        }
    //    }
    //})
    //new Vue({
    //    el: '#dg-wrapper',
    //    data: {
    //        im: {
    //            id: "",
    //            img: ""
    //        },
    //        lv: "/Content/img/Lunbo1/"
    //    }, created() {
    //        this.ca(); // 在组件挂载到页面中后自动调用 ca() 方法
  
    //    },
    //    methods: {
    //        ca() {
    //            axios.post('/Mo/Img/')
    //                .then(res => {
    //                    this.im = res.data.da;
    //                })
    //        }
    //    }
    //})
        new Vue({
            el: '#section-spacing',
            data: {
                list1: ['森系 ', '西式', '户外', '韩式', '中式'],
                nowIndex: 0,
                hr:'/Home/Hotelx/',
                aa:'/Content/img/Hotel/',
                arr1: {
                    id:'',
                    img: '',
                    Price: '',
                    name: '',
                    rongliang: ''
                },
            },
            created() {
                this.ca(); // 在组件挂载到页面中后自动调用 ca() 方法
            },
            methods: {
                changeMsg(index) {
                    this.nowIndex = index;
                    axios.post('/Mo/Lo/', { param1: this.nowIndex+1 })
                        .then(res => {
                            this.arr1 = res.data;
                        })
                },
                ca() {
                    axios.post('/Mo/Lo/')
                        .then(res => {
                            this.arr1 = res.data;

                        })

                }
            }
        })


    new Vue({
        el: '#total-team',
        data: {
          
        }
    })


    new Vue({
        el: "#total-blog",
        data: {
            arr3: [{
                img: '/Content/img/Hotel/Jiudian12.jpg',
                month: '01,Jul',
                year: '2023',
                title: '百对新人在长隆野生动物世界参加动物主题空中婚礼',
                looknum: '55',
                content: '5月1日，“情定长隆，爱在空中”-- 第二届长隆空中婚礼在长隆野生动物世界浪漫举行。延续去年全球最大空中集体婚礼的极致婚礼仪式感，今年长隆空中婚礼致力为有情人打造更个性化定制梦幻婚礼，来自全国各地的百对新人除了收获来自全球500多种、超两万只珍稀动物的祝福以外，还跟全球国宝动物亲密互动，拍下动物主题专属婚纱大片，更在独一无二的“婚车”--空中缆车上一边体验“与兽同行，与鸟齐飞”，一边享用星厨精心炮制的浪漫空中晚宴。'
            },
            {
                img: '/Content/img/Hotel/Jiudian15.jpg',
                month: '01,Jul',
                year: '2023',
                title: '广州南沙越秀喜来登酒店推出四款专属婚宴套餐',
                looknum: '22',
                content: '广州南沙越秀喜来登酒店最新推出的四款婚宴套餐，可让在广州南沙举办婚礼的恋人，自由选择合用的婚宴套餐，尽享物超所值的服务，度过人生浪漫时刻。'
            },
            {
                img: '/Content/img/Hotel/Jiudian32.jpg',
                month: '01,Jul',
                year: '2023',
                title: '生希有心•骑士概念婚礼秀4月15日于海口鲁能希尔顿酒店精彩上演',
                looknum: '33',
                content: '春天可谓是一个万物复苏，百花争艳的季节，空气里似乎都弥漫着甜甜的恋爱的气息，提醒着我们这个充满爱的季节的到来。海南，中国最南边的热带岛屿，这里不仅有碧海蓝天、细浪白沙、椰风海韵，更有热带雨林、湿地公园，为你提供梦幻婚礼所需的一切完美场景。'
            }
            ],
        }
    })

        $.ready(function () {
            var bend = $(".bend");
            var number = bend.find(".nivo-controlNav a"); //注意分号 和逗号的用法
            var timer = null;
            var sw = 0;
            timer = setInterval(function () {
                sw++;
                if (sw == number.length) {
                    sw = 0
                };
                number.eq(sw).trigger("click");
            }, 5000);
        });

</script>
